{% extends "base.html.twig" %}
{% block body %}
	<p>
		{{plat.name}}</p>
	<p>
		{{ form_row(form.name)}}
	</p>
	<p>
		{{ form_row(form.image)}}
	</p>
	<p>
		{{ form_row(form.date)}}
	</p>
	<p>
		{{ form_row(form.tag)}}
	</p>

{% endblock %}
