{% extends 'base.html.twig' %}

{% block title %}Templates-TempCode
{% endblock %}

{% block body %}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<div class="container">
			<div class="card">
				<div class="card-header">
					<h2>Create a New Template</h2>
				</div>
				<div class="card-body">
					<div class="alert alert-primary" role="alert">
						Do you want to create a new template?
						<a href="template/create">
							<button type="button" class="btn btn-primary mr-2">Create</button>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<form action="{{ path('templates') }}" method="get" class="form-inline my-2 my-lg-0 d-flex">
						<input class="form-control mr-sm-2" type="search" name="searchedValue" placeholder="Enter search query" aria-label="Search" style="width: 60%">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<form action="{{ path('templates') }}" method="get" class="form-inline">
						<label for="sortBy" class="mr-sm-2">Sort by:</label>
						<select name="sortBy" id="sortBy" class="form-control form-control-sm mr-sm-2" style="width: 20%">
							<option value="name">Name</option>
							<option value="tag">Tag</option>
						</select>
						<label for="sortDirection" class="mr-sm-2">Direction:</label>
						<select name="sortDirection" id="sortDirection" class="form-control form-control-sm mr-sm-2" style="width: 20%">
							<option value="ASC">Ascending</option>
							<option value="DESC">Descending</option>
						</select>
						<br>
						<button type="submit" class="btn btn-primary btn-sm">Sort</button>
					</form>
				</div>
			</div>
		</div>


		<div class="row mt-3 m-auto">
			<div class="col-md-12 ">
				<h3>Templates</h3>
				<ul class="list-group">
					{% for template in templates %}
						{% if app.user == template.user %}
							<li class="list-group-item">
								<div class="d-flex justify-content-between">
									<div>
										<h5>
											templates name :</h5>
										{{template.name}}
									</div>
									<div>
										<h5>Image :</h5>
										<img src="{{template.image}}" alt="image templates">

									</div>
									<div class="d-flex">
										<h5>Tag:
										</h5>
										{{template.tag}}
									</div>
									<div>
										<a href="/template/update/{{template.id}}" class="btn btn-warning">modify</a>
									</div>
									<div>
										<a href="/template/delete/{{template.id}}" class="btn btn-danger">delete</a>
									</div>
								</div>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>

	{% else %}

		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			You must be logged in to access this page.
			<button type="button" class="btn btn-light" data-dismiss="alert" aria-label="Close">
				<a href="/login">login</a>
			</button>
		</div>

	{% endif %}


{% endblock %}
